html {
    font-size: 62.5%;
  }
  
  body {
    width: 980px;
    margin: 0 auto;
  }

  header {
    background-color: aqua;
    height: 50px;
  }

  footer {
    background-color: aqua;
    height: 50px;
  }